@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(s/lato/v20/S6uyw4BMUTPHjx4wWw-1.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url(s/lato/v20/S6u9w4BMUTPHh50XSwiPHA-1.ttf) format('truetype');
}
